<footer class="row-fluid">
	<p class="text-center">Made with <span class="glyphicon glyphicon-heart"></span> by <%= link_to "Stanley Yang", 'https://github.com/syang019/' %> in <a href="http://en.wikipedia.org/wiki/Santa_Monica,_California">Santa Monica, CA</a></p>

</footer>