<header ng-class="{true: 'body-pushed'}[main.pushmenu]">

	<a href="/#/" id="preddit">
		<h1><span class="glyphicon glyphicon-fire"></span>Preddit</h1>	
	</a>
	
	<% if logged_in? %>

		<a class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#post-link"></a>

	<% end %>


	<a class="glyphicon glyphicon-menu-hamburger" ng-click="main.pushmenu = !main.pushmenu"></a>	
	
</header>




