<header ng-class="{true: 'body-pushed'}[main.pushmenu]">

	<a href="/#/" id="preddit">
		<h1><span class="glyphicon glyphicon-fire"></span>Preddit</h1>	
	</a>

	<a class="glyphicon glyphicon-menu-hamburger" ng-click="main.pushmenu = !main.pushmenu"></a>
	
</header>