<nav class="push-menu" ng-class="{true: 'pushed-menu'}[main.pushmenu]">
	
	<div class="col-xs-12">
		<button data-toggle="modal" data-target="#login">Log in</button>
	</div>
	<div class="col-xs-12">
		<a href="/#/signup"><button>Sign up</button></a>
	</div>
	<div class="col-xs-12">
		<a href="/#/"><button>Home</button></a>	
	</div>
</nav>