<nav class="push-menu" ng-class="{true: 'pushed-menu'}[main.pushmenu]">
	<a href="/#/login"><button>Log in</button></a>
	<button data-toggle="modal" data-target="#signup">Sign up</button>
	<a href="/#/">Home</a>	
</nav>