


<div class="col-md-8 col-md-offset-2">

	<div class="link-container" ng-repeat="post in main.Post.index | filter:searchText" ng-show="{main.Post.index.length > 0}">
		
		<a class="links" href="{{post.link}}" class="post">{{post.title}}</a>
		
		<br />
		<span class="time">submitted {{post.created_at | timeago}} by <a href="/#/profile/{{post.poster.id}}">{{post.poster.name}}</a></span>

		<br />

		<span class="comment">Comment</span>

		<!-- <div ng-show="main.Post.isNotZero(post.comments.length)">Showing {{post.comments.length}} comments</div> -->

		<div class="comments" ng-repeat="comment in post.comments">			
			


			<a href="/#/profile/{{comment.commenter.id}}">{{comment.commenter.name}}</a><span class="time">{{comment.created_at | timeago}}</span>

			<p>{{comment.body}}</p>
						

		</div>
		<div class="comment-box">
			<form>
				<textarea auto-grow placeholder="Comment.." class="form-control"></textarea>
				<input type="submit" value="Comment" class="pull-right submit-input" />
			</form>

		</div>
	</div>
</div>


<div id="filter">
	<div class="col-xs-2">
		<span class="glyphicon glyphicon-search"></span>	
	</div>
	
	<div class="col-xs-8">
		<input type="text" class="form-control" ng-model="searchText" placeholder="Search Preddit" />	
	</div>
	
</div>








